##################
# common
*.class
*.jar

##################
# gradle

.gradle/
build/

##################
# maven

target/

##################
# IntelliJ IDEA

out/
.idea/
*.iml
*.ipr
*.iws

##################
# Eclipse
.classpath
.project